
* {
    background-color: white;  
}

body {
    margin: 50px;
}

img {
    width: 100%;
}

header {
    background-image: url("https://media.gettyimages.com/photos/closeup-of-cake-in-plate-on-table-picture-id1318694614?k=20&m=1318694614&s=612x612&w=0&h=o2H6_2actb97A_dymPvQjZJdtkAD2LQAhySlcQMXAeM=");
    background-size: cover;
    background-position: center;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;;
}

h3 {
   position: absolute;
   z-index: 1;
   color: black
}

#cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.468);
}

li {
    list-style-type: none;
}

#details {
    display: flex;
    height: 200px;
}

.container {
    background-color: rgba(227, 152, 24, 0.797);
    padding: 10px;
    padding-left: 130px;
    color: white;
}

.container h4 {
    background-color: rgba(227, 152, 24, 0.797);
}

.container #pp {
   background-color: rgba(227, 153, 24, 0.605);
}

.cakes {
    background-color: gray;
    padding: 10px;
    color: white;
}

.cakes h4 {
    background-color: gray;
}

.cakes #zz {
    background-color: gray;
}

.flavors {
    background-color: orangered;
    padding: 10px;
    padding-right: 130px;
    color: white;
}

.flavors h4 {
    background-color: orangered;
}

.flavors #ff {
    background-color: orangered;
}

#zindex {
    background-color: red;
    width: 45px;
    height: 35px;
    z-index: 1;
    padding-top: 0;
    box-shadow: transparent;
}

.seriespix {
    display: flex;
}

img {
    width: 20%;
}

.griditem {
    margin: 10px;
    background-color: white;
    display: flex;
}



.items img {
    width: 150px;
    height: fit-content;
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
}

.items p {
    padding-left: 20px;
    height: auto;
}

#spongy {
    margin: 30px;
    display: flex;
}

#spongy img {
    width: 40%;
    height: 250px;
}

#advert {
    display: flex;
}

#advert .ads {
    color: orange;
    margin: 35px;
    width: 50%;
}

#adstext {
    margin-left: 15px;
}
#sub {
    background-color: rgb(24, 28, 138);
    cursor: pointer;
    color: azure;
    margin-left: 140px;
    width: 100px;
}

#cho {
    background-color: rgb(24, 28, 138);
    cursor: pointer;
    color: azure; 
}

.heading {
    background-color: hsl(red, gold, green);
    color: white;
    height: 35px;
    text-align: justify;
}

footer {
    display: flex;
    margin-top: 30px;
}