  

body {
    margin: 50px;
}

header {
    background-image: url("https://media.gettyimages.com/photos/roses-on-top-of-piece-of-cake-picture-id1366709095?k=20&m=1366709095&s=612x612&w=0&h=Te62xqmt_L0qRDkfgWHv38PKyVhVU1lcdf0W_ggW2Yo=");
    background-size: cover;
    background-position: center;
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}

h3 {
    position: absolute;
    z-index: 1;
    color: white;
    padding-top: 280px;
    margin-left: 100px;
}

h5 {
    color: white;
    margin-left: 35px;
}

#cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.728);
}

li {
    list-style-type: none;
}

#details {
    display: flex;
    height: 200px;
}

.container {
    background-color: rgba(227, 152, 24, 0.797);
    padding: 10px;
    padding-left: 115px;
    color: white;
    width: auto;
    font-size: 00.75rem;
}

.container h4 {
    background-color: rgba(227, 152, 24, 0.797);
}

.container #pp {
   background-color: rgba(227, 153, 24, 0.605);
}

.cakes {
    background-color: gray;
    padding: 10px;
    color: white;
    width: auto;
    font-size: 0.65rem;
}

.cakes h4 {
    background-color: gray;
}

.cakes #zz {
    background-color: gray;
}

.flavors {
    background-color: orangered;
    padding: 10px;
    padding-right: 130px;
    color: white;
    width: max-content;
    font-size: 0.75rem;
}

.flavors h4 {
    background-color: orangered;
}

.flavors #ff {
    background-color: orangered;
}

.divtext {
    font-size: 1.2rem;
}

#zindex {
    background-color: red;
    width: 45px;
    height: 35px;
    z-index: 1;
    padding-top: 0;
    box-shadow: transparent;
}

.seriespix {
    display: flex;
}

img {
    width: 20%;
}

.griditem {
    margin: 10px;
    background-color: white;
    display: flex;
}



.items img {
    width: 100px;
    height: max-content;
    justify-content: space-between;
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    justify-content: center;
    margin-left: 10rem;
    margin-right: 10rem;
    grid-template: max-content;
}

.items p {
    padding-left: 20px;
    font-size: 0.8rem;
}

#spongy {
    margin: 30px;
    display: flex;
    justify-content: center;
}

#spongy img {
    width: 40%;
    height: 250px;
}

#advert {
    display: flex;
}

#advert .ads {
    color: orange;
    margin: 85px;
    width: 20%;
}

#adstext {
    margin-left: 15px;
    width: 80%;
    font-size: small;
}

#adstext button {
    background-color: orange;
    border-radius: 5px;
}

#advert .ads span {
    color: gray;
}

#sub {
    background-color: rgb(24, 28, 138);
    cursor: pointer;
    color: azure;
    margin-left: 140px;
    width: 100px;
}

#cho {
    background-color: rgb(24, 28, 138);
    cursor: pointer;
    color: azure; 
}

.heading {
    background-color: black;
    color: white;
    height: 30px;
    text-align: justify;
    padding-left: 35px;
}

.ourproducts #hh {
    margin: 30px;
}

footer {
    display: flex;
    margin-top: 30px;
}